<% if @user %>
    <h3><span class="red"><%= @user.username %></span> Orders history</h3>
<% end %>
<% @orders.each do |order| %>
    <h4><%= link_to "order created: #{order.created_at.strftime("%F %T")}", order_path(order.id) %></h4>
    <% order.product_records.each do |prodrec| %>
        <h5><%= prodrec.product.name %>, cost <span class="red"><%= prodrec.product.price %></span></h5>

    <% end %>
<% end %>