
    <% @carts.each do |pr| %>
        <h3><%= pr.product.name %></h3>
        <p> product id is - # <%= pr.product_id %> and is in
        <%= link_to "carts #{pr.cart_id}", product_record_path(pr) %></p>
    <% end %>
