// Place all the styles related to the checkouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-item img{
  width: 100%;
}
.order-item{
  padding: 10px;
  margin: 5px;
  border: 1px solid #BBBBBB;
  border-right: 6px solid #d9534f;
  border-radius: 5px 0 0 5px;
}
.order-item:hover {
  border-color:#d43f3a;
  box-shadow: 1px 1px 6px rgba(40,40,40,0.3);
}