// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red{
  color: red;
  font-weight: 400;
  font-size: 17px;
}
.role{
  font-size: 17px;
  font-weight: 500;
  margin-right: 5px;
}