
%div.col-xs-2.filter-section
  %h2 Filters
  %h6
    sort by manufacturer
    - @manufactures.each do |m|
      %ul.manufacture-list
        %li
          = link_to m.title, custom_action_products_path
%div.col-xs-10
  = render "products/product_block"